body {
    margin: 0;
    padding: 0;
}

#calendar_container {
    max-width: 820px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

#header_row,
.month_row {
    display: flex;
    width: 100%;
}

.header_cell {
    box-sizing: border-box;
    min-width: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
}


.month_cell {
    box-sizing: border-box;
    min-width: 120px;
    min-height: 120px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}