body {
    margin: 0;
    padding: 0;
}

#calendar_top {
    display: flex;
    flex-direction: row;
    max-width: 840px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
}

#header_row {
    max-width: 840px;
    margin: 0 auto;
}

#calendar_buttons,
#date-selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    border: 1px solid;
    height: 100px;
    border-radius: 5px;
    padding: 0 10px;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin: 0 20px;
}

button {
    padding: 5px;
    width: 100px;
    height: 30px;
}

#calendar_container {
    max-width: 840px;
    margin: 0 auto;
}

#header_row,
.days_row {
    display: flex;
    width: 100%;
}

.header_cell {
    box-sizing: border-box;
    min-width: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
}


.day_cell {
    box-sizing: border-box;
    min-width: 120px;
    min-height: 120px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}